__pycache__/
.ipynb_checkpoints/

*.csv
*.txt
*.png
*.pdf
*.trees
*.log
*.out
.DS_Store

# save parameter files used for manuscript
!scripts/01_prepare_input_parameters/gaussian_params.csv
!scripts/01_prepare_input_parameters/gaussian_params_unique.csv
!scripts/01_prepare_input_parameters/sine_params.csv
!scripts/01_prepare_input_parameters/sine_params_unique.csv


# save example input file for slim script
!slim/VT_weather.txt
!slim/sine.csv

# In general, don't track data files. 
data/*
# List any files that we should keep in github
!data/gaussian_MEAN_TEMP_20_STDEV_TEMP_10_analytical_info.npz
!data/gaussian_MEAN_TEMP_20_STDEV_TEMP_10_seed_0.txt
!data/gaussian_MEAN_TEMP_20_STDEV_TEMP_10_seed_0.trees

# Same for results
results/figures/*
# !results/figures/(stuff to track)

