__pycache__/
.ipynb_checkpoints/

*.csv
*.txt
*.png
*.pdf
*.trees
*.log
*.out
.DS_Store

# save parameter files used for manuscript
!scripts/01_prepare_input_parameters/gaussian_params.csv
!scripts/01_prepare_input_parameters/gaussian_params_unique.csv

# save example input file for slim script
!slim/VT_weather.txt

# In general, don't track data files. 
data/SLiM_input/*
data/SLiM_output/*
data/SLiM_output_processed/*
# List any files that we should keep in github (only use for few, small files)
# !data/SLiM_input/(file to keep)

# Same for results
results/figures/*
# !results/figures/(stuff to track)

